.gpon_alert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 100px;
}

.gpon_alert_img {
    margin-bottom: 20px;
}

.gpon_alert_text {
    font-size: 20px;
    font-weight: 500;
    color: var(--menuColor);
    text-align: center;
}

@media(max-width: 768px) {
    .gpon_alert_text {
        font-size: 14px;
    }
}