.private-bottom-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--menuColor);
  font-family: var(--fontInter);
}

.private-register-link {
  color: var(--mainColor);
  text-decoration: underline;
  transition: opacity 0.3s ease;
}

.private-register-link:hover {
  opacity: 0.7;
  color: var(--mainColor);
}

.forgot-password {
  font-size: 20px;
  font-weight: 400;
  color: var(--titleFlexColor);
  text-decoration: underline;
  transition:
    color 0.3s ease,
    text-underline-offset 0.3s ease;
  text-underline-offset: 2px;
}

.forgot-password:hover {
  color: var(--mainColor);
  text-underline-offset: 3px;
}

@media (max-width: 1200px) {
  .private-bottom-links {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
  }
  .forgot-password {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .private-bottom-links {
    flex-direction: column;
    font-size: 14px;
    text-align: center;
  }
  .forgot-password {
    font-size: 16px;
  }
}
